<% provide(:active_page, "About") %>
<div class="container content">
  <p>
    A demo of a simple app that uses the <a href="https://github.com/Instagram/instagram-ruby-gem">Instagram gem</a>
  </p>
</div>