<div class="container content">
  <p><%= @user[:name] %>'s top ten recent Instagram hashtags</p>
  <nav></nav>
  <div id="hashes">
    <% for tag in @images_hashtags %>
        <div class="hash btn btn-small <%=tag%>"><%= tag %></div>
    <% end %>
  </div>
  <%= content_tag :div, "", id: "image_container", data: {images: @images} %>
</div>